#post-form{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 58%;
    padding: 30px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #113d3d;
    background-image: linear-gradient(225deg, #113d3d 0%, #5938a2 50%, #1881d1 100%);
}
#body {
    background:linear-gradient(155deg,rgb(250, 204, 240),#8893ff);
    overflow: hidden;
    height: 100%;
    text-align: center;

}


#description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: small;
}

p{
    font-size: 15px;
    width: 70%;
}


footer{
    position: fixed ;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    height: 20px;
    font-size: 15px;
}